#image {
    width: 60%;
    height: 60%;
    margin: 10px;
    padding: 5px;
 }


 #home {
	background:rgb(115, 209, 209);
}

.title {color: rgb(115, 209, 209); font-family: 'Times New Roman', Times, serif;
}

.table-striped 

.table-responsive
